<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
	<servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>univr.is.tmc.servlet.LoginServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>univr.is.tmc.servlet.LogoutServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
        <servlet-name>GestioneUtenti</servlet-name>
        <servlet-class>univr.is.tmc.servlet.GestioneUtentiServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
        <servlet-name>ModificaUtenti</servlet-name>
        <servlet-class>univr.is.tmc.servlet.ModificaUtentiServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
        <servlet-name>GestioneVeicoli</servlet-name>
        <servlet-class>univr.is.tmc.servlet.GestioneVeicoliServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
        <servlet-name>ModificaVeicoli</servlet-name>
        <servlet-class>univr.is.tmc.servlet.ModificaVeicoliServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
        <servlet-name>VeicoliUtenteServlet</servlet-name>
        <servlet-class>univr.is.tmc.servlet.VeicoliUtenteServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
        <servlet-name>ModificaVeicoloUtenteServlet</servlet-name>
        <servlet-class>univr.is.tmc.servlet.ModificaVeicoloUtenteServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
        <servlet-name>MyCarsPositionServlet</servlet-name>
        <servlet-class>univr.is.tmc.servlet.MyCarsPositionServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
        <servlet-name>GestioneLimitiServlet</servlet-name>
        <servlet-class>univr.is.tmc.servlet.GestioneLimitiServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
        <servlet-name>ModificaLimitiServlet</servlet-name>
        <servlet-class>univr.is.tmc.servlet.ModificaLimitiServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
        <servlet-name>TravelServlet</servlet-name>
        <servlet-class>univr.is.tmc.servlet.TravelServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>univr.is.tmc.servlet.UpdateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>




	<servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>GestioneUtenti</servlet-name>
        <url-pattern>/GestioneUtentiServlet</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>ModificaUtenti</servlet-name>
        <url-pattern>/ModificaUtentiServlet</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>GestioneVeicoli</servlet-name>
        <url-pattern>/GestioneVeicoliServlet</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>ModificaVeicoli</servlet-name>
        <url-pattern>/ModificaVeicoliServlet</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>VeicoliUtenteServlet</servlet-name>
        <url-pattern>/VeicoliUtenteServlet</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>ModificaVeicoloUtenteServlet</servlet-name>
        <url-pattern>/ModificaVeicoloUtenteServlet</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>MyCarsPositionServlet</servlet-name>
        <url-pattern>/MyCarsPositionServlet</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>GestioneLimitiServlet</servlet-name>
        <url-pattern>/GestioneLimitiServlet</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>ModificaLimitiServlet</servlet-name>
        <url-pattern>/ModificaLimitiServlet</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>TravelServlet</servlet-name>
        <url-pattern>/TravelServlet</url-pattern>
    </servlet-mapping>UpdateServlet

	<servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

	<context-param>
	    <param-name>javax.faces.PROJECT_STAGE</param-name>
	    <param-value>Development</param-value>
	</context-param>

	<context-param>
	    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
	    <param-value>.jsp</param-value>
	</context-param>

	<context-param>
	    <param-name>javax.faces.FACELETS_VIEW_MAPPINGS</param-name>
	    <param-value>*.jsp</param-value>
	</context-param>
 </web-app>
